In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#load the dataset
df = pd.read_csv("C:/Users/enuzo/Documents/Project Portfolio/machine_learning/customer_churn/data/telco_churn.csv")

print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB
None

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [2]:
#handling missing values
print(df.isnull().sum())

#Drop or fill misisng values
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')
df['TotalCharges'] .fillna(df['TotalCharges'].median(), inplace=True)

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

C:\Users\enuzo\AppData\Local\Temp\ipykernel_7864\194911236.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['TotalCharges'] .fillna(df['TotalCharges'].median(), inplace=True)

In [3]:
#Convert Categorical Variables to numerical values
df = pd.get_dummies(df, columns=[col for col in df.columns if col != 'Churn'], drop_first=True)


print(df.columns)

Index(['Churn', 'customerID_0003-MKNFE', 'customerID_0004-TLHLJ',
       'customerID_0011-IGKFF', 'customerID_0013-EXCHZ',
       'customerID_0013-MHZWF', 'customerID_0013-SMEOE',
       'customerID_0014-BMAQU', 'customerID_0015-UOCOJ',
       'customerID_0016-QLJIS',
       ...
       'TotalCharges_8477.7', 'TotalCharges_8496.7', 'TotalCharges_8529.5',
       'TotalCharges_8543.25', 'TotalCharges_8547.15', 'TotalCharges_8564.75',
       'TotalCharges_8594.4', 'TotalCharges_8670.1', 'TotalCharges_8672.45',
       'TotalCharges_8684.8'],
      dtype='object', length=15256)

In [4]:
# Strip spaces and unwanted characters
df.columns = df.columns.str.strip()

# Rename all columns to remove unintended modifications
df.columns = df.columns.str.replace(r'_True_True', '', regex=True)

print(df.columns)  # Check the corrected column names

Index(['Churn', 'customerID_0003-MKNFE', 'customerID_0004-TLHLJ',
       'customerID_0011-IGKFF', 'customerID_0013-EXCHZ',
       'customerID_0013-MHZWF', 'customerID_0013-SMEOE',
       'customerID_0014-BMAQU', 'customerID_0015-UOCOJ',
       'customerID_0016-QLJIS',
       ...
       'TotalCharges_8477.7', 'TotalCharges_8496.7', 'TotalCharges_8529.5',
       'TotalCharges_8543.25', 'TotalCharges_8547.15', 'TotalCharges_8564.75',
       'TotalCharges_8594.4', 'TotalCharges_8670.1', 'TotalCharges_8672.45',
       'TotalCharges_8684.8'],
      dtype='object', length=15256)

In [5]:
# Find the exact column that contains 'Churn'
for col in df.columns:
    if 'Churn' in col:
        df.rename(columns={col: 'Churn'}, inplace=True)
        break  # Stop after renaming the correct column

print(df.columns)  # Verify 'Churn' is now correctly named

Index(['Churn', 'customerID_0003-MKNFE', 'customerID_0004-TLHLJ',
       'customerID_0011-IGKFF', 'customerID_0013-EXCHZ',
       'customerID_0013-MHZWF', 'customerID_0013-SMEOE',
       'customerID_0014-BMAQU', 'customerID_0015-UOCOJ',
       'customerID_0016-QLJIS',
       ...
       'TotalCharges_8477.7', 'TotalCharges_8496.7', 'TotalCharges_8529.5',
       'TotalCharges_8543.25', 'TotalCharges_8547.15', 'TotalCharges_8564.75',
       'TotalCharges_8594.4', 'TotalCharges_8670.1', 'TotalCharges_8672.45',
       'TotalCharges_8684.8'],
      dtype='object', length=15256)

In [7]:
#Convert Churn to Binary Encoding (0&1)
# Remove leading/trailing spaces from column names

df.columns = df.columns.str.strip()

# Print unique values in 'Churn' to verify
print("Unique values in 'Churn':", df['Churn'].unique())

# Convert 'Churn' to binary (Yes -> 1, No -> 0)
df['Churn'] = df['Churn'].map({'Yes': 1, 'No': 0})

# Convert to integer (ensuring no unexpected values)
df['Churn'] = df['Churn'].astype(int)

# Verify the transformation
print(df['Churn'].value_counts())

Unique values in 'Churn': ['No' 'Yes']
Churn
0    5174
1    1869
Name: count, dtype: int64

Training The Model

In [13]:
#splitting the dataset into train-test sets
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, roc_auc_score
import joblib
import os

# ðŸ“Œ Split Dataset into Training and Test Sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

# ðŸ“Œ Initialize Models (No Scaling Applied)
models = {
    "Logistic Regression": LogisticRegression(),
    "Random Forest": RandomForestClassifier(n_estimators=100),
    "XGBoost": XGBClassifier(eval_metric='logloss')  # No use_label_encoder (deprecated)
}

# ðŸ“Œ Train and Evaluate Models
best_model = None
best_auc = 0
for name, model in models.items():
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    y_proba = model.predict_proba(X_test)[:, 1]  # Probability of churn

    # Calculate AUC Score
    auc_score = roc_auc_score(y_test, y_proba)

    # Print Model Performance
    print(f"\nðŸ“Š {name} Performance:")
    print(classification_report(y_test, y_pred))
    print(f"ROC AUC Score: {auc_score}")

    # Track the Best Model (Highest AUC Score)
    if auc_score > best_auc:
        best_model = model
        best_auc = auc_score
        best_model_name = name

ðŸ“Š Logistic Regression Performance:
              precision    recall  f1-score   support

           0       0.84      0.90      0.87      1035
           1       0.65      0.52      0.58       374

    accuracy                           0.80      1409
   macro avg       0.74      0.71      0.72      1409
weighted avg       0.79      0.80      0.79      1409

ROC AUC Score: 0.8379782479526725

ðŸ“Š Random Forest Performance:
              precision    recall  f1-score   support

           0       0.81      0.94      0.87      1035
           1       0.69      0.40      0.51       374

    accuracy                           0.79      1409
   macro avg       0.75      0.67      0.69      1409
weighted avg       0.78      0.79      0.77      1409

ROC AUC Score: 0.8229972357849596

ðŸ“Š XGBoost Performance:
              precision    recall  f1-score   support

           0       0.83      0.89      0.86      1035
           1       0.62      0.51      0.56       374

    accuracy                           0.79      1409
   macro avg       0.73      0.70      0.71      1409
weighted avg       0.78      0.79      0.78      1409

ROC AUC Score: 0.824139089100726


Key Insights from Model Comparison Logistic Regression

Highest ROC AUC Score (0.8379) â†’ Best at distinguishing between churners and non-churners. Decent Recall (52%) â†’ Captures more actual churn cases than the other models. Balanced Accuracy (80%) â†’ A reliable baseline model. Random Forest

Best Precision (69%) â†’ More confident when predicting churn. Lowest Recall (38%) â†’ Misses many actual churn cases (poor at detecting churners). Decent Accuracy (79%), but struggles in capturing churn cases. XGBoost

Better Recall (51%) than Random Forest â†’ Captures more churners. Balanced F1-Score (0.56) â†’ More stable than Random Forest. Comparable ROC AUC (0.8241) â†’ Performs close to Logistic Regression. ðŸ”¹ Key Takeaways Logistic Regression is the best overall model for this dataset (highest ROC AUC, good recall, stable performance). Random Forest is precise but misses many churn cases (low recall). XGBoost offers a tradeoff between Logistic Regression and Random Forest (better recall than RF but lower precision).

In [ ]:
#Save the best model

In [14]:
model_dir = "models"
os.makedirs(model_dir, exist_ok=True)

# Initialize and train Logistic Regression model
from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression()
logreg.fit(X_train, y_train)  # Train model

# Save the trained Logistic Regression model
joblib.dump(logreg, os.path.join(model_dir, "logistic_regression.pkl"))

# Save feature names to ensure input consistency during deployment
joblib.dump(X.columns.tolist(), os.path.join(model_dir, "feature_names.pkl"))

print("âœ… Logistic Regression model and feature names saved successfully!")

âœ… Logistic Regression model and feature names saved successfully!

In [15]:
ls models/

Invalid switch - "".